@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

body {
  font-family: "satoshi", sans-serif;
  overflow-x: hidden;
  width: 100vw;
}


@font-face {
  font-family: 'satoshi';
  src: url('/assets/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'intefral-bold';
  src: url('/assets/fonts/Fontspring-DEMO-integralcf-bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


.loading-dots {
  display: inline-flex;
  align-items: center;
}

.dot {
  opacity: 0;
  animation: dot-pulse 1.5s infinite;
  margin-left: 2px;
}

.dot:nth-child(1) {
  animation-delay: 0.2s;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}



/* .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

@keyframes dot-pulse {

  0%,
  100% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }
}



@media (max-width: 767px) {
  .bg-mobile-300 {
    background-size: 300% !important;
  }
}

@media (min-width: 768px) {
  .bg-mobile-300 {
    background-size: contain !important;
  }
}